<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="two_wheel_mr">
    <xacro:arg name="prefix" default="" />
    <xacro:arg name="use_mock_hardware" default="false" />
    <xacro:arg name="initial_positions_file" default="$(find two_wheel_mr)/config/arm_init_positions.yaml" />
    <xacro:arg name="drivetrain_port" default="/dev/ttyS0" />
    <xacro:arg name="left_wheel_id" default="1" />
    <xacro:arg name="right_wheel_id" default="2" />
    <xacro:arg name="arm_ip" default="192.168.58.2" />

    <xacro:include filename="$(find two_wheel_mr)/urdf/robot_description.urdf.xacro" />

    <!-- Import ros2_control description -->
    <xacro:include filename="$(find kinco_diff_controller)/urdf/robot_control.urdf.xacro" />
    <xacro:include filename="$(find two_wheel_mr)/urdf/fairino5_v6_robot.ros2_control.xacro" />
    <!-- modified to allow choosing between using mock and actual hardware -->

    <xacro:robot prefix="$(arg prefix)" />

    <xacro:robot_control
        name="two_wheel_mr" prefix="$(arg prefix)"
        port="$(arg drivetrain_port)" left_id="$(arg left_wheel_id)" right_id="$(arg right_wheel_id)"
        use_mock_hardware="$(arg use_mock_hardware)"/>
    
    <xacro:fairino5_v6_robot_ros2_control
        name="fairino5" initial_positions_file="$(arg initial_positions_file)"
        address="$(arg arm_ip)"
        use_mock_hardware="$(arg use_mock_hardware)"/>
</robot>